.excursionesComponent h1{
    font-size: 2.5em;
    margin: 45px;
}

.excursiones{
    margin: 0 auto;
    width: 75vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.excursionesComponent{
    text-align: center;
}