.excursion {
    padding: 10px;
    text-align: center;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.2s;
    background: #b9d2d4;
    position: relative;
    border-radius: 10px;
}

.excursion:hover {
    box-shadow: 2px 2px 20px 3px #4d5657;
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    width: 200px;
    text-decoration: none;
    background-color: #cfdee0;
    color: black;
    position: absolute;
    bottom: 5%;
    right: 5%;
    height: 30px;
    transition: 0.2s;
    font-weight: 600;
}

.link:hover {
    background-color: #1b1d1d;
    color: white;
}

.excursion img {
    width: 100%;
}

h2 {
    font-weight: 700;
}

.rute-in {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    left: 5%;
    border-radius: 15px;
    background-color: rgb(29, 27, 29);
    color: white;
    width: 30px;
    height: 30px;
    overflow: hidden;
    transition: 0.2s;
}

.rute-in:hover {
    width: 200px;
}

.added {
    display: none;
}

.rute-in:hover .added{
    display: inline;
}

.claseExcursion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.2s;
    position: absolute;
    bottom: 15%;
    right: 5%;
    cursor: pointer;
}

.claseExcursion:hover{
    width: 200px;
}

.claseExcursion:hover .added{
    display: inline;
}

.añadirExcursion{
    background-color:#10a918;
    position: absolute;
}

.añadirExcursion:hover{
    background-color:#0c7411;
}

.eliminarExcursion{
    background-color:#b02525;
}

.eliminarExcursion:hover{
    background-color:#7c0707;
}