.Navbar {
    display: flex;
    justify-content:space-around;
    gap: 1em;
    align-items: center;
    font-size: 2em;
    padding: 30px;
    border-bottom: 4px solid #777777;
}

.Navbar a {
    text-decoration: none;
    color:black;
    border-radius: 15px;
    padding: 15px;
    transition: 0.2s;
}

.Navbar a:hover {
    background-color: #dfdfdf;
}

.active{
    background-color: #b9b9b9;
}