.Navbar {
    position: relative;
    display: flex;
    justify-content:space-around;
    gap: 1em;
    align-items: center;
    font-size: 1.5em;
    padding: 30px;
    border-bottom: 4px solid #777777;
}

.Navbar a {
    text-decoration: none;
    color:black;
    border-radius: 15px;
    padding: 15px;
    transition: 0.2s;
}

.Navbar a:hover {
    background-color: #dfdfdf;
}

.active{
    background-color: #b9b9b9;
}

.admin{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.65em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: initial;
    height: 0;
    width: 150px;
}